{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block styles %}
<style>
  body {
    background-color: #E6E6FA;
    font-family: Arial, sans-serif;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .card {
    max-width: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .card-header {
    background-color: #87CEFA;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: none;
  }
  .card-body {
    padding: 30px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  input[type=text], input[type=password] {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Mayor separación entre botones */
  }
  button[type=submit] {
    flex-grow: 1;
    background-color: #87CEFA;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button[type=submit]:hover {
    background-color: #6CA6CD;
  }
  .register-button {
    flex-grow: 1;
    background-color: transparent; /* Fondo transparente */
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Eliminar subrayado */
  }
</style>
{% endblock %}

{% block content %}
<div class="login-container">
  <div class="card">
    <div class="card-header">Login</div>
    <div class="card-body">
      {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="button-container">
          <button type="submit">Login</button>
          <a href="{% url 'register' %}" class="register-button">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
